

body{
    margin-top:130px;
    background: url("img/background-register.png");
    color:black;
    font-weight:500;
}

.container{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
}

#imgNavbar{
    margin-top: -5px;
    width:40px;
}

.timeline-profile-image{
    width:120px;
    border: 3px solid white;
    
}

.profile-image{
    max-width:20rem;
    border: 3px solid white;
    
}

.postBox{
    height:150px;
}

.postBox textarea{
    resize:none;
}

.ownPost{
    -webkit-box-shadow: 4px 7px 10px -1px rgba(43,148,186,0.5);
-moz-box-shadow: 4px 7px 10px -1px rgba(43,148,186,0.5);
box-shadow: 4px 7px 10px -1px rgba(43,148,186,0.5);
}

.ownPost-buttons {
    width:50px;
}