<!doctype html>
<html lang="en">

<head>

    <title>Rede+Cientistas ::: Registro</title>
    <link rel="icon" th:href="@{/image/favicon.ico}" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Rede Social para Cientistas" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/register.css" type="text/css">
    <script src="js/cidades-estados.js"></script>

</head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img id="imgNavbar" src="/css/img/logo.png"> Rede+Cientistas</a>
    </nav>