<!doctype html>
<html lang="en">

<head>

    <title>Rede+Cientistas ::: Registro</title>
    <link rel="icon" th:href="@{/image/favicon.ico}" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Rede Social para Cientistas" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/register.css" type="text/css">
    <script src="js/cidades-estados.js"></script>

</head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img id="imgNavbar" src="/css/img/logo.png"> Rede+Cientistas</a>
    </nav>

<div class="container">
    <form action="/cadastroMember" class="form-horizontal" role="form" method="POST">
        <h2 class="display-4">Registro</h2>
        <% if(typeof errors != 'undefined'){ %>
        <% errors.forEach(function(error) { %>
        <%= error.msg %>
        <% }); %>
        <% } %>
        <div class="form-group pt-5">
            <label for="Name" class="control-label">Nome</label>
            <input type="text" id="member[name]" name="member[name]" class="form-control" autofocus required>
        </div>
        <div class="form-group">
            <label for="email" class="control-label">Email</label>
            <input type="email" id="member[email]" name="member[email]" class="form-control" autofocus required>
        </div>
        <div class="form-group">
            <label for="age" class="control-label">Idade</label>
            <input type="number" id="member[age]" name="member[age]" class="form-control" autofocus required>
        </div>
        <div class="form-group">
            <label for="documento" class="control-label">Documento</label>
            <input type="text" id="member[documento]" name="member[documento]" class="form-control" autofocus required>
        </div>
        <div class="form-group">
            <label for="estado">Estado</label>
            <select class="custom-select" id="member[state]" name="member[state]" required>
                <option selected disabled value="">Escolha um estado...</option>
                <option>...</option>
            </select>
        </div>
        <div class="form-group">
            <label for="cidade">Cidade</label>
            <select class="custom-select" id="member[city]" name="member[city]" required>
                <option selected disabled value="">Escolha uma cidade</option>
                <option>...</option>
            </select>
        </div>
        <div class="form-group">
            <label for="grauDeEscolaridade class="control-label">Grau de escolaridade</label>
            <input type="text" id="member[grauDeEscolaridade]" name="member[grauDeEscolaridade]" class="form-control" autofocus required>
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Senha</label>
            <input type="password" id="member[password]" name="member[password]" class="form-control" autofocus required>
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="control-label">Confirmar Senha</label>
            <input type="password" id="member[confirmPassword]" name="member[confirmPassword]" class="form-control"
                autofocus required>
        </div>
        
        <script language="JavaScript" type="text/javascript" charset="utf-8">
            new dgCidadesEstados({
                cidade: document.getElementById('member[city]'),
                estado: document.getElementById('member[state]')
            })
        </script>

        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>





<!-- Fonts Awesome -->
<script src="https://kit.fontawesome.com/3741ec6fe2.js" crossorigin="anonymous"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>