html,body{
    width: 100%;
    height: 100%;
    color:white;
}

body{
    background: url("img/background1.jpg");
    background-size: cover;
}


#imgNavbar{
    margin-top: -5px;
    width:40px;
}
